.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-row{
  height: 40vh;
}


.rose-img{
  width: 60% !important;
}

.valentine-msg{
  font-family: satisfyRegular;
  font-size: 2.3rem;
}

.msg-text{
  font-size: 1.5rem;
}

.name{
  text-align: center;
  font-size: 2.5rem;
  font-family: satisfyRegular;
  color: darkgreen;
  font-weight: bold;
}
.intro-text{
  text-align: justify;
  padding: 2% 15% 1% 15%;
}

.intro-detail{
  text-align: justify;
  text-align-last: center;
  font-family: satisfyRegular;
  font-size: 1.5rem;
  color: black;
}

.right-float{
  float: right;
}

@font-face {
  font-family: satisfyRegular;
  src: url("./components/fonts/satisfy.regular.ttf");
}

p{
  font-family: satisfyRegular;
  font-size: 1.3rem;
}

ul.timeline{
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid green;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

article{
  margin-left: auto !important;
  margin-right: auto !important; 
}

.underline{
  text-decoration: underline;
}

.no-underline{
  text-decoration: none;
}
.social-image{
  width: 40px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}